.selectTemp {
  filter: alpha(opacity=50); /*Opacidad */
  opacity: 0.5;
  border-radius: 12px;
  color: #303245;
  height: 2.5rem;
  width: 14.5rem;
  padding-left: 5px;
  margin-right: 13rem;
  justify-content: center;
  font-family: 'Century Gothic', sans-serif;
  font-size: 100%;
  -moz-transition: all ease .3s; /*Aplicamos una ligera transición*/
  -webkit-transition: all ease .3s;
  transition: all ease .4s;
}
.selectTemp:hover {
  opacity: 1;
  cursor: pointer;
}
.selectTemp:focus {
  opacity: 1;
}

.selectRaza {
  filter: alpha(opacity=50); /*Opacidad */
  opacity: 0.5;
  border-radius: 12px;
  color: #303245;
  height: 2.5rem;
  width: 11rem;
  padding-left: 5px;
  justify-content: center;
  font-family: 'Century Gothic', sans-serif;
  font-size: 100%;
  -moz-transition: all ease .3s; /*Aplicamos una ligera transición*/
  -webkit-transition: all ease .3s;
  transition: all ease .4s;
}
.selectRaza:hover {
  opacity: 1;
  cursor: pointer;
}
.selectRaza:focus {
  opacity: 1;
}

.contenedor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50rem;
  margin-top: 1rem;
}
.contSelect {
  padding-left: 13rem;
}
